// ==========================================================================
// 06-Molecules: Card Events
// ==========================================================================
// Events Card Variante
// Migriert von: cards.css (.cards.events)
// ==========================================================================

@use '../01-tools' as *;

.cards.events {
  --spacing-inline: var(--fnd-spacing-06);
  --spacing-block: var(--fnd-spacing-04);
  --labels-height: 16px;
  
  li {
    padding: var(--spacing-block) var(--spacing-inline);
    background-color: var(--fnd-color-background-secondary);
    border-radius: var(--fnd-radius-sm);
    
    &:hover {
      background-color: var(--fnd-color-background-tertiary);
      
      a.button:any-link,
      button {
        background-color: var(--fnd-color-background-transparency-mid);
      }
    }
  }
  
  // ---------------------------------------------------------------------------
  // Labels
  // ---------------------------------------------------------------------------
  
  .labels-container {
    flex-wrap: nowrap;
    overflow-x: clip;
    
    .label {
      background-color: inherit;
      flex-shrink: 0;
    }
  }
  
  // ---------------------------------------------------------------------------
  // Card Content
  // ---------------------------------------------------------------------------
  
  .card-content {
    height: calc(100% - var(--spacing-block) - var(--labels-height));
    @include flex-column;
    
    picture {
      margin-inline: calc(var(--spacing-inline) * -1);
      margin-block: 0 var(--fnd-spacing-06);
      border-radius: 0;
      
      @include desktop-up {
        margin-block: 0 var(--fnd-spacing-07);
      }
    }
    
    .heading {
      @include heading('xs');
      @include line-clamp(3);
      
      @include desktop-up {
        margin-block: 0 var(--fnd-spacing-06);
      }
    }
    
    p {
      @include paragraph('l');
      @include line-clamp(3);
      color: var(--fnd-color-text-secondary);
      margin-block: 0 var(--fnd-spacing-05);
      
      @include desktop-up {
        margin-block: 0 var(--fnd-spacing-06);
      }
      
      > span {
        @include heading('xxs');
        display: flex;
        align-items: center;
        column-gap: var(--fnd-spacing-02);
        flex-wrap: wrap;
        
        > time {
          flex-shrink: 0;
        }
        
        .icon {
          width: 1em;
          height: 1em;
        }
      }
    }
    
    .button-container {
      margin-block: auto 0;
      
      a {
        width: 100%;
      }
    }
  }
}
